* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #282828;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

h2, h3, h4 {
  margin: 5px 0;
}
